@import '../../../styles/variables';

.DateCard{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.dateCard{
  .card{
    border-color: black;
    border-radius: 10px;
    background-color: #373737;
    color: white;
    height: 600px;
    .btn-success{
      background-color: $teal;
      &:hover{
        background-color: black;
        color: $teal;
        border-color: white;
      }
    }
    .description{
      height: 50px;
    }
    .line{
      margin-bottom: 10px;
    }
    .realFormat{
      color:$teal;
    }
    .format{
      border-top-color: white;
    }
    .line{
      border: 1px solid white
    }
    .cardBody{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }
  .card-img-top{
    margin-bottom: 20px;
  }
  .cardTitle{
    background-color: #373737;
    height:50px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: $teal;
  }
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 10px auto;
  max-width: 18rem;
  min-width: 200px;
  img{
    display: flex;
    justify-content: center;
    height: 200px;
    object-fit: cover;
  }
}
