.DateCard{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

.dateCard{
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin: 10px auto;
  max-width: 18rem;
  min-width: 200px;
  img{
    display: flex;
    justify-content: center;
  }
}
