.userCard {
  display: flex;
  justify-content: center;
  color: black;
  min-width: 12rem;
  max-width: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    display: flex;
    justify-content: center;
    object-fit: cover;
  }
}
.UserCard{
  display: flex;
  justify-content: center;
  align-items: center;
}
